/******************tag******************/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/******************class******************/
/* Headings */
.big-heading {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title Section */
#title .container-fluid {
  font-weight: 300;
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: .5rem .3rem .5rem 0;
}

/* Title Image */
.title-image {
  padding: 20px;
  position: absolute;
  right: 25%;
  transform: rotate(25deg);
  width: 18rem;
}

/* Features Section*/
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.features-images {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.features-images:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10rem;
}

/* Press Sectien */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15rem;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer Section */
.footer-logo {
  margin: 20px 30px;
  font-size: 2rem;
}

.logo-link{
  color: #000;
  text-decoration: none;
}

.logo-link:hover{
  color: #5c5c5c;
}

/******************Media Query******************/
@media (max-width: 1090px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
